$text-color:       #fdfdfd;
$background-color: #161616;
$background-url:   "/img/none.png";
$brand-color:      #fdfdfd;
$grey-color:       #828282;
$grey-color-light: darken($grey-color, 25%);
$grey-color-dark:  lighten($grey-color, 40%);
