body.photo{
  background: #0E090D url("/img/photo_bg.png") no-repeat top;
}

/**
 * Site header
 */
.site-header {
  flex: 0 0 auto;
  margin-top: 2em;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  //float: right;
  //line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  @mixin flourish-lines($width) {
    $linesHeight: 8px;
    content: "";
    position: absolute;
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    width: $width;
    height: $linesHeight;
    top: 50%;
    margin-top: floor(-$linesHeight / 1.5);
  }

  ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    margin-left: 0;
    align-items: center;
    text-transform: uppercase;
    li {
      flex: 1 1 0;
      & a{
        position: relative;
      }
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
  ul.main {
    justify-content: space-between;
    font-weight: $base-font-weight*1.5;
  }

  ul.secondary {
    justify-content: center;
    li {
      flex: 1 1 0;
      margin: 0 $spacing-unit;
      text-align: center;
      &:first-child{
        text-align: right;
        margin-left: 0;
      }
      &:last-child{
        text-align: left;
        margin-right: 0;
      }
    }
  }
  .fancy {
    flex: 7 1 0;
    margin: 0 1em;
    text-align: center;
    overflow: hidden;
    & a{
      &:before,
      &:after{
        @include flourish-lines(800px);
      }
      &:before {
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }
  .logo{
    height: $base-font-size * 5;
    width: auto;
  }
  .spaced{
    letter-spacing: 1px;
  }
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }
    ul{
      display: list-item;
      margin-bottom: 0;
      li{
        text-align: right !important;
        margin: 0 auto !important;
        padding: 0.5em;
        border-top: 1px solid $grey-color-light;
        &.fancy{
          display: none;
        }
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.footer-info {
  text-align: center;
  @include relative-font-size(0.85);
  font-weight: $base-font-weight * 0.75

}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


.projects{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  .project{
    width: 24%;
    margin: 0 auto 1%;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: $text-color;
    }
    &:hover .overlay {
      opacity: 0.8;
    }

    .text {
      color: $background-color;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      opacity: 1;
    }
  }

  .project:nth-of-type(4n) {
    margin-right: 0;
  }

  .project:nth-of-type(4n+1) {
    margin-left: 0;
  }
  @include media-query($on-palm) {
    .project{
      width: 100%;
    }
  }
}

.projects-page{
  img{
    margin: 0 auto 1em;
    height: auto;
  }
}




/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Home
 */

  .home{
    text-align: center;
    vertical-align: middle;
    margin: 3em auto 0;
    .page-heading{
      @include relative-font-size(3);
    }
  }

